@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-loading-skeleton/dist/skeleton.css';

:root {
	--background: #f9fafb;
	--foreground: #ffffff;
	--stroke: #ced6e7;

	--primary: #1f2937;
	--secondary: #6b7280;
	--accent: #2563eb;
}

@media (prefers-color-scheme: darsk) {
	:root {
		--background: #111827;
		--foreground: #1f2937;
		--stroke: #374151;

		--primary: #ffffff;
		--secondary: #9ca3af;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
