@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-loading-skeleton/dist/skeleton.css';

:root {
	--background: #f9fafb;
	--foreground: #ffffff;
	--stroke: #f3f4f6;

	--primary: #1f2937;
	--secondary: #6b7280;

	--red: #dc2626;
	--red-foreground: #fecaca;

	--green: #059669;

	--accent: #2563eb;
	--accent-foreground: #dbeafe;

	--linear: linear-gradient(to left, var(--accent) 0%, #7c3aed 100%);
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

body[data-theme='dark'] {
	--background: #111827;
	--foreground: #1f2937;
	--stroke: #374151;

	--primary: #ffffff;
	--secondary: #9ca3af;

	--red: #f87171;
	--red-foreground: #7f1d1d;

	--green: #34d399;

	--accent: #2563eb;
	--accent-foreground: #1e3a8a;

	--linear: linear-gradient(to left, var(--accent) 0%, #6d28d9 100%);
}
